<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/static/pics/info/sitelogo.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link defer href="/static/style.css" type="text/css" rel="stylesheet">
    <script defer src="/static/client.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <title>Hello, world!</title>
</head>

<body>
    <div class="header">
        <div class="title">Project Gallery<img src="/static/pics/chatapp/pencil.png" alt="" class="" width="40px"
                height="40px">
        </div>
        <div class="author" onClick=fun1()><b>Author</b></div>
        <div class="home" onClick=fun2()><b>Home</b></div>
    </div>
    {{!-- <div class="content"> --}}
        {{!-- <div class="gallery"> --}}
            <div class="projName" style="    font-size: 173%;"> <img
                    src="https://writenshare.herokuapp.com/static/media/logo.png" alt="" class="" width="70px"
                    height="70px">
                WritersApp-<span class="projSubName"> Write & Share</span>
            </div>
            <br>
            <p class="fstDesc">
                Language used: <b>JavaScript</b><br>
                Library used: <b>Express ,JQuery ,Bootstrap</b>
                <br>API used: <b>Tenor API</b><br>
                URL: <b>https://writenshare.herokuapp.com</b>
                <br><br>
                Features:<br>


            <ul>
                <li>No authentication required,just write paragraphs,add animated emojis,add colorful background.
                </li>
                <li>User can generate Link of their respective content.
                </li>
                <li>User can also delete the Link of their content.
                </li>
                <li>User can also add some music in the background,and when any one opens that content(via link) that
                    music will play in the background.
                </li>
                <li>It also tracks user location through IP adress and creates a list of users that have visited this
                    site and shows in the home screen</li>


            </ul>
            <div style="text-align: center;">

                <a class="btn btn-success my-1 mx-2 my-4" href="https://writenshare.herokuapp.com" target="_blank">Open
                    App</a>
            </div>

            {{!-- <h2 style="text-align: center;">Screenshots:</h2> --}}

            <h3 style="">Home Page</h3>
            <img src="/static/pics/writersapp/8.png" alt="" class="ss">
            <br><br>
            <h3 style="">Editor</h3>
            <img src="/static/pics/writersapp/7.png" alt="" class="ss">
            <img src="static/pics/writersapp/5.png" alt="" class="ss">

            {{!-- <img src="/static/pics/chatapp/chat1.jpg" alt="" class="ss">
            <img src="/static/pics/chatapp/imp.jpg" alt="" class="ss"> --}}
            <br><br>
            {{!-- <h3 style="">Users List & their mic status</h3>
            <img src="/static/pics/chatapp/users.jpg" alt="" class="ss">
            <br><br> --}}
            <h3 style="">Animated Emojis & Memes</h3>

            <img src="/static/pics/writersapp/6.png" alt="" class="ss">
            {{!-- <img src="/static/pics/chatapp/memes.jpg" alt="" class="ss"> --}}

            {{!--
        </div> --}}
        <h3 style="">Created Content</h3>

        <img src="/static/pics/writersapp/4.png" alt="" class="ss">

        <div class="footer">
            Feedback: <b>aditya5kumar2012@gmail.com</b>
        </div>

        {{!--
    </div> --}}
    <a id="my_btn2" href="/"></a>
    <button class="btn btn-primary" id="my_btn" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h4 id="offcanvasRightLabel">About Info</h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="about">
                <h3>Aditya Kumar</h3><br>3rd year <b>Computer Science & Engineering</b> student at <b>National Institute
                    of Technology Raipur</b><br><br><img src="/static/pics/chatapp/career-choice.png" alt="" class=""
                    width="23px" height="23px">
                <b>&nbsp&nbsp19115004 (Roll No.)</b><br><img src="/static/pics/chatapp/gmail.png" alt="" class=""
                    width="23px" height="23px">
                <b>&nbsp&nbspaditya5kumar2012@gmail.com</b><br><img src="/static/pics/chatapp/call.png" alt="" class=""
                    width="23px" height="23px"> <b>
                    &nbsp&nbsp+91-8582057616</b>
                <br>
                <a type="button" class="btn btn-secondary my-2"
                    href="https://drive.google.com/file/d/1yKOXOUj_AVndTeyPGqO-KS3DFG-pfpZP/view?usp=sharing"
                    target="_blank">My Resume (PDF)</a>

                <div style="text-align:center;margin-top:20px">My Profiles</div>

                <a href="https://www.linkedin.com/in/aditya-kumar-5abb4221b/" target="_blank">
                    <div style="position: relative;float:left;margin:30px">
                        <img style="width: 50px;" src="/static/pics/info/linkedin.png" alt="">
                        <div style=" 
                       font-size: 85%;
                        position: absolute;
                        bottom: -30px;
                        left: -3px;
                        font-weight: 600;">
                            LinkedIn</div>
                    </div>

                </a>
                <a href="https://www.facebook.com/profile.php?id=100005273947921">
                    <div style="text-align:center">
                        <div style="position: relative;float:left;margin:30px">
                            <img style="width: 50px;" src="/static/pics/info/facebook.png" alt="">
                            <div style=" 
                       font-size: 85%;
                        position: absolute;
                        bottom: -30px;
                        left: -3px;
                        font-weight: 600;">
                                Facebook</div>
                        </div>
                </a>
                <a href="https://www.instagram.com/adi_sunny_neeraj_raviraj/" target="_blank">
                    <div style="position: relative;float:left;margin:30px">
                        <img style="width: 50px;" src="/static/pics/info/instagram.png" alt="">
                        <div style=" 
                       font-size: 85%;
                        position: absolute;
                        bottom: -30px;
                        left: -3px;
                        font-weight: 600;">
                            Instagram</div>
                    </div>

                </a>
                <a href="https://github.com/adityakumar0156/" target="_blank">
                    <div style="position: relative;float:left;margin:30px">
                        <img style="width: 50px;" src="/static/pics/info/github.png" alt="">
                        <div style=" 
                       font-size: 85%;
                        position: absolute;
                        bottom: -30px;
                        left: -3px;
                        font-weight: 600;">
                            GitHub</div>
                    </div>

                </a>
                <a href="https://codechef.com/users/stray_fox_0156/" target="_blank">
                    <div style="position: relative;float:left;margin:30px">
                        <img style="width: 50px;" src="/static/pics/info/codechef.jpg" alt="">
                        <div style=" 
                       font-size: 85%;
                        position: absolute;
                        bottom: -30px;
                        left: -3px;
                        font-weight: 600;">
                            CodeChef</div>
                    </div>

                </a>
            </div>
        </div>
    </div>









    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>
